@import "bootstrap"; 

/*  universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-weight:  normal;
  color: #999;
}

p {
  font-size: 1.5em;
  line-height: 1.7em;
}

a {
    font-size: 1.5em;
}

.btn {
  font-size: 1.5em;
}

tr, td, th {
  padding: 0.8em;
  font-size: 1.2em;
}

/* picturea */

.gravatar {
  float: left;
  margin-right :10px;
}

